<div id="global-dock-mount" class="app-global-dock-mount" data-global-dock-mount></div>
<script id="global-dock-bootstrap" type="application/json" data-global-dock-asset><%- globalDockBootstrap %></script>
<script src="/js/global-dock.js" defer data-global-dock-asset></script>
